HelpUrl=
CommandPrefix=
AliasPrefix=
PipeSeparator=
FaceIt__ApiKey=
Google__Geocoding__ApiKey=
Google__Timezone__ApiKey=
Microsoft__Maps__ApiKey=
Nasa__ApiKey=
OpenAI__ApiKey=
OpenAI__DefaultChatModel=
OpenAI__DefaultImageModel=
Pastebin__ApiKey=
Reddit__ClientId=
Reddit__ClientSecret=
RiotGames__ApiKey=
TwitchApi__ClientId=
TwitchApi__ClientSecret=
TwitchApi__RefreshToken=
UserId=
UserAgent=